{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="page-wrapper">
    <!-- top Links -->
    <div class="top-links">
        <div class="container">
            <ul class="row links">
                <li class="col-xs-12 col-sm-3 link-item active"><span>1</span>Choose Outlet</li>
                <li class="col-xs-12 col-sm-3 link-item"><span>2</span>Explore Offers and Pick Items</li>
                <li class="col-xs-12 col-sm-3 link-item"><span>3</span>Pay and Place Order</li>
            </ul>
        </div>
    </div>
    <!-- end:Top links -->
    <!-- start: Inner page hero -->
    <div class="inner-page-hero bg-image" data-image-src="{%static 'images/pb1.jpg' %}" style="background: url(&quot;images/profile-banner-1.jpg&quot;) center center / cover no-repeat;">
        <div class="container"> </div>
        <!-- end:Container -->
    </div>
    <!-- //results show -->
    <section class="restaurants-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">



                    <!-- end:Widget -->
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
                    <div class="bg-gray restaurant-entry">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                                <div class="entry-logo">
                                    <a class="img-fluid" href="./combo.html#"><img src="./images/logo8.png" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="entry-dscr">
                                    <h5><a href="./combo.html#">COMBO</a></h5> <span>Pocket Friendly North Indian Combos, Sandwiches, Shakes <a href="./restaurants.html#">...</a></span>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-check"></i> Rs 50 for 1</li>
                                        <li class="list-inline-item"><i class="fa fa-motorcycle"></i> 15 min</li>
                                    </ul>
                                </div>
                                <!-- end:Entry description -->
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                                <div class="right-content">
                                    <div class="right-review">
                                         <a href="./combo.html" class="btn theme-btn-dash">View Menu</a> </div>
                                </div>
                                <!-- end:right info -->
                            </div>
                        </div>
                        <!--end:row -->
                    </div>
                    <div class="bg-gray restaurant-entry">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                                <div class="entry-logo">
                                    <a class="img-fluid" href="./pankaj.html#"><img src="./images/logo8.png" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="entry-dscr">
                                    <h5><a href="./pankaj.html#">Pankaj Graphics</a></h5> <span>Printing, Photostat, Stationery<a href="./restaurants.html#">...</a></span>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-check"></i> -- </li>
                                        <li class="list-inline-item"><i class="fa fa-motorcycle"></i>--</li>
                                    </ul>
                                </div>
                                <!-- end:Entry description -->
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                                <div class="right-content">
                                    <div class="right-review">
                                         <a href="./pankaj.html" class="btn theme-btn-dash">View Menu</a> </div>
                                </div>
                                <!-- end:right info -->
                            </div>
                        </div>
                        <!--end:row -->
                    </div>
                    <div class="bg-gray restaurant-entry">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                                <div class="entry-logo">
                                    <a class="img-fluid" href="./rohit.html#"><img src="./images/logo8.png" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="entry-dscr">
                                    <h5><a href="./rohit.html#">Rohit Graphics</a></h5> <span>Printing, Photostat, Stationery<a href="./restaurants.html#">...</a></span>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-check"></i>--</li>
                                        <li class="list-inline-item"><i class="fa fa-motorcycle"></i> 15 min</li>
                                    </ul>
                                </div>
                                <!-- end:Entry description -->
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                                <div class="right-content">
                                    <div class="right-review">
                                         <a href="./rohit.html" class="btn theme-btn-dash">View Menu</a> </div>
                                </div>
                                <!-- end:right info -->
                            </div>
                        </div>
                        <!--end:row -->
                    </div>
                    <div class="bg-gray restaurant-entry">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                                <div class="entry-logo">
                                    <a class="img-fluid" href="./sharma.html#"><img src="./images/logo8.png" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="entry-dscr">
                                    <h5><a href="./sharma.html#">Sharma Provison Store</a></h5> <span>Burgers, American, Sandwiches, Fast Food, BBQ,Burgers, American, Sandwiches <a href="./restaurants.html#">...</a></span>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-check"></i> Rs 50 for 1</li>
                                        <li class="list-inline-item"><i class="fa fa-motorcycle"></i> 15 min</li>
                                    </ul>
                                </div>
                                <!-- end:Entry description -->
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                                <div class="right-content">
                                    <div class="right-review">
                                         <a href="./sharma.html" class="btn theme-btn-dash">View Menu</a> </div>
                                </div>
                                <!-- end:right info -->
                            </div>
                        </div>
                        <!--end:row -->
                    </div>
                    <div class="bg-gray restaurant-entry">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                                <div class="entry-logo">
                                    <a class="img-fluid" href="./shriganesh.html#"><img src="./images/logo8.png" alt="Food logo"></a>
                                </div>
                                <!-- end:Logo -->
                                <div class="entry-dscr">
                                    <h5><a href="./shriganesh.html#">Shri Ganesh Ji Confectioners</a></h5> <span>Burgers, American, Sandwiches, Fast Food, BBQ,Burgers, American, Sandwiches <a href="./restaurants.html#">...</a></span>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-check"></i> Rs 50 for 1</li>
                                        <li class="list-inline-item"><i class="fa fa-motorcycle"></i> 15 min</li>
                                    </ul>
                                </div>
                                <!-- end:Entry description -->
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                                <div class="right-content">
                                    <div class="right-review">
                                         <a href="./shriganesh.html" class="btn theme-btn-dash">View Menu</a> </div>
                                </div>
                                <!-- end:right info -->
                            </div>
                        </div>
                        <!--end:row -->
                    </div>

                    <!-- end:Restaurant entry -->
                </div>
            </div>
        </div>
    </section>
    <!-- end:Footer -->
</div>

{% endblock %}